*{
    font-family: sans-serif;
}
.hero{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}
.card{
    padding: 10px;
    border: 1px solid rgb(180, 177, 177);
    width: 320px;
    border-radius: 10px;
    height: 380px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);

}
.card p{
    padding-top: 10px;
}